
*{
    margin: 0;
    padding: 0;
}
.principal{
background-color: black;
color: white;
width: 61.66%;
margin: 0;
padding: 0;
display: block;
}

.img_1 {
top: 73px;
left: 0px;
width: 180px;
height: 600px;
margin: 0;
padding: 0;

}


.imagen_1{
    width: 905px; 
    height: 700px;
    margin: 0;
    padding: 0;
}




.img_3{
    display: flex;
    height: 100%;
        margin: 0;
        padding: 0;
}
    
    

.texto{
    display: flex;
    width:58.9% ;
    height: 20vh;
    background-color: black;
    color: rgb(237, 231, 231);
    justify-content: right;
    padding: 20px;

}



.sect_img{
    display: flex;
    width: 905px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    
    

}

.img{
    width: 280px;
    height: 182px;
    padding: 1ren 0;
    justify-content: center;
    flex-wrap: wrap;

   
}

   

.iconos {
    display: flex;
    justify-content: canter;
    gap: 10px;
}
.textoiconos {
    border-color:black;
    color: rgb(118, 116, 116);
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;

}
.icono{
    text-align: center;
}

.icono p {
font-size: 32px;
padding: 2rem;

}


 .pie {
background-color: black;
color: white;
padding: 1%;
margin: 1;
width:60% ;
padding:10;

 }